@import 'style.styl'

#container
	background none
#content
	min-height 600px
	flex-direction: row
	flex-wrap wrap
	background none
	
	#miniHeader
		width 80%
		color white
		margin auto
		margin-top 2em
		padding 1em
		background #786e29
		-webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.69);
		-moz-box-shadow:    0px 4px 14px 0px rgba(0, 0, 0, 0.69);
		box-shadow:         0px 4px 14px 0px rgba(0, 0, 0, 0.69);
		margin-bottom 4em
	#photos
		width 40%
		margin-right 5%
		img
			border solid 5px #786e29
			width 100%
			margin-bottom 1em
		.doble
			width 49.4%
			height 259px
	article
		width 55%
		.title
			background #786e29
			text-align right
			color white
			padding 0.5em
			padding-right 2em
		