@import 'style.styl'

#content
	min-height 600px
	section
		width 50%
		h3
			background #806b3c
			text-align center
			color white
			padding 1em
			margin 0
		p
			padding 2em
			margin 0
			background #bfb59c
			border-top solid 1px white
			color white
			text-align center
	#lic
		border-right solid 1px white