@import 'reposteria.styl'


#content
	article
		background url('/image/itemyellow.jpg')
		background-size: 100% 100%;
		.title
			width 299px
			text-align center
			top 9.3em
		.materias
			color black
			width 300px
			
		

	