@import 'style.styl'


#container
	background none
	overflow hidden
#content
	flex-direction: row
	flex-wrap wrap
	background none
	justify-content: center
	h3
		background #806b3c
		text-align center
		color white
		padding 1em
		margin 0
		width 100%
		height 56px
	.images
		margin-top 2em
		width 100%
		margin-bottom 2em
		.figures
			display block
			width 850px
			margin auto
			img 
				width 210px
				margin-right 105px 
		.text
			width 100%
			background #e8d994
			padding 1em
			margin-top 1em
			.itext
				display block
				width 850px
				margin auto
				aside
					display inline-block
					width 210px
					margin-right 105px 
					vertical-align top
					text-align center
	
		
	

		