@import 'style.styl'

#container
	background none
#content
	min-height 600px
	display flex
	flex-direction: column
	background none
	h3
		background #806b3c
		text-align center
		color white
		padding 1em
		margin 0
		width 100%
		height 56px
	article
		width 80%
		margin auto
		margin-top 5em
		min-height 400px
		background url('/image/itemgreen.jpg')
		background-size 100% 100%
		position relative
		.title
			position absolute
			left 3em
			top 10em
			font-size 1.5em
			color black
		img
			position absolute
			width 150px
			top 2em
			left 9em
		.materias
			position absolute
			right 2em
			text-align center
			font-size 1.2em
			color white
			top 0.5em
			
			
		

	