@import 'layout.styl'
#mainContainer
	width 100% !important
table
	width 100%
	text-align center
	th,tr
		height 30px
	tr:nth-child(2n+1)
		background #EFEFEF
	thead tr
		 background: #fff !important;
	#final 
		background #816C3C
		color white
	#new
		text-align left
		padding 0.5em
		padding-left 1em
		margin-top 1em
		margin-bottom 2em
		background: #C0B889
		color white

		
#controls
	font-size 2em
	text-align center
	margin-top 1em
	label
		cursor pointer
.green
	font-weight bold
.text
	width 400px
	text-align left
.icon
	width 80px
	cursor pointer
	label
		cursor pointer	
	&:hover
		font-size 1.1em