@import 'layout.styl'
	
#content #mainContainer
	width 40% !important
	margin auto


	
form
	display block
	width 100%
	
	label
		width 100px
		display inline-block
		vertical-align middle
	input,textarea,select
		width 270px
		padding 0.5em
		margin-bottom 1em
		font-family: 'Droid Serif',serif;
		display inline-block
		
	input[type='number']
		width 50px
	input[type='date']
		width 150px
	textarea
		height 150px 
		
	button
		box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
		background: #eeb92a;
		color: #fff;
		text-shadow: 0 0 1px rgba(0,0,0,0.2);
		border none
		padding 0.5em
		width 200px
		font-family: 'Droid Serif',serif;
		font-size 18px
	select 
		width 117px
		padding 0.7em
	.mitad
		width 133px
.error
	color red
	text-align center !important
	font-size 14px
	width 100%
	display block
		
		
		