@import 'layout.styl'
	

form
	display block
	width 500px
	margin auto
	label
		width 140px
		display inline-block
	input
		width 200px
		padding 0.5em
		margin-bottom 1em
		font-family: 'Droid Serif',serif;
	input[type='number']
		width 50px
	input[type='date']
		width 150px
	button
		box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
		background: #eeb92a;
		color: #fff;
		text-shadow: 0 0 1px rgba(0,0,0,0.2);
		border none
		padding 0.5em
		width 200px
		font-family: 'Droid Serif',serif;
		font-size 18px
	input,textarea,select
		width 270px
		padding 0.5em
		margin-bottom 1em
		font-family: 'Droid Serif',serif;
		display inline-block
		
		
		