@import 'layout.styl'

.list-none
	list-style none
	li
		display inline-block
		padding 1em
		background #d0d0d0
		transition all ease 0.5s
		width 24%
		margin-bottom 0.5em
		position relative
		&:hover
			text-decoration  underline
			cursor pointer