@import 'layout.styl'
	
table
	width 100%
	text-align center
	th,tr
		height 30px
	thead tr
		 background: #fff !important;
		
	tbody 
		border-spacing: 10px;
		border-collapse: separate;
		tr
			height 50px
			background #ccc
		.ok
			background #C0B889
			
		
		
	#final 
		background #816C3C
		color white
#controls
	font-size 2em
	text-align center
	margin-top 1em
	label
		cursor pointer